<div class="container">
  <h1>Lessons</h1>
  <div class="row">
    <div class="col-md-8">

    <% sorted_sections = @sections.sort_by{ |i| i.number } %>
    <% sorted_sections.each do |section| %>
      <h3><%= section.name %>  <a href="sections/<%= section.id %>/edit" class='btn btn-primary btn-xs'>Edit Section</a></h3>

      <table class="table">
        <!-- <thead>
          <td><strong>#</strong></td>
          <td><strong>Lesson Title</strong></td>
        </thead> -->

        <% sorted_lessons = @lessons.where( :section_id => section.id ).sort_by{ |i| i.number } %>
        <% sorted_lessons.each do |lesson| %>
          <tr>
            <td><%= lesson.number %>. <a href="/lessons/<%= lesson.id %>"><%= lesson.name %> </a></td>
          </tr>
        <% end %>

      </table>

    <% end %>

    <% if @lessons.where(:section_id => nil || :section_id == 0).length != 0 %>
      <h3>Unassigned Lessons</h3>
      <table class="table">
        <!-- <thead>
          <td><strong>#</strong></td>
          <td><strong>Lesson Title</strong></td>
        </thead> -->

        <% sorted_lessons = @lessons.where( :section_id => nil || :section_id == 0 ).sort_by{ |i| i.number } %>
        <% sorted_lessons.each do |lesson| %>
          <tr>
            
            <td><%= lesson.number %>. <a href="/lessons/<%= lesson.id %>"><%= lesson.name %> </a></td>
          </tr>
        <% end %>

      </table>
      <% end %>

      </div>
    <div class="col-md-4"></div>
  </div> <!--row-->
  <a href="lessons/new" class='btn btn-primary btn-xs'> New Lesson </a>
  <a href="sections/new" class='btn btn-primary btn-xs'> New Section </a>
</div>
